body {
    padding: 0px;
    margin: 0px;

}

.rungba{
    background-color: #000;
    color: red;
}
.gbaemu {
    &.active {
        .gbaemu-container {
            display: none;
        }
    }

    &:not([class~='active']) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10000;
    }

    [type=button],
    [type=reset],
    [type=submit],
    button {
        -webkit-appearance: button;
    }

    button,
    select {
        text-transform: none;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    [type=button]:not(:disabled),
    [type=reset]:not(:disabled),
    [type=submit]:not(:disabled),
    button:not(:disabled) {
        cursor: pointer;
    }

    [hidden] {
        display: none !important;
        visibility: hidden !important;
    }

    .no-select {

        *,
        & {
            -webkit-user-select: none;
            user-select: none;
            touch-action: none;
        }
    }

    .p-1 {
        padding: .675rem;
    }

    .gba-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0px 10px;
        background-color: #fff;

        .gba-menubtn {
            border: 0;
            width: 2rem;
            height: 2rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #1e293b;
            border-color: transparent;
            padding: 0 0;
            font-size: 1rem;
            line-height: 1;
            background-color: transparent;
            border-radius: 4px;

            >span {
                color: #1e293b;
                border-color: rgba(0, 0, 0, .1);
                height: 2px;
                width: 1.25em;
                background: currentColor;
                border-radius: 10px;
                position: relative;
                display: inline-block;
                vertical-align: middle;

                &:after,
                &:before {
                    content: "";
                    display: block;
                    height: inherit;
                    width: inherit;
                    border-radius: inherit;
                    background: inherit;
                    position: absolute;
                    left: 0;
                    transition: inherit;
                }

            }

            &:not([class~='active']) {
                >span {
                    transform: rotate(0deg);
                    transition: transform .1s, margin .3s, opacity 0s .3s;

                    &:after,
                    &:before {
                        transform: rotate(0deg);
                    }

                    &:before {
                        margin-top: -.45em;
                    }

                    &:after {
                        margin-top: .45em;
                    }
                }
            }

            &.active {
                >span {
                    transform: rotate(-45deg);
                    transition: margin .3s, transform .3s .3s, opacity 0s .3s;

                    &:before {
                        margin-top: 0;
                        transform: rotate(-90deg);
                    }

                    &:after {
                        margin-top: 0;
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .gba-downbtn {
            border: 0;
            width: 2rem;
            height: 2rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #1e293b;
            border-color: transparent;
            padding: 0 0;
            font-size: 1rem;
            line-height: 1;
            background-color: transparent;
            border-radius: 4px;
            text-align: center;

            >span {
                width: 3px;
                background: #000;
                height: 50%;

                &:after {
                    margin-left: 3px;
                    transform: rotate(45deg);

                }

                &:before {
                    margin-left: -4px;
                    transform: rotate(-45deg);

                }

                &:after,
                &:before {
                    content: "";
                    height: 10px;
                    width: 2px;
                    position: absolute;
                    top: 50%;
                    background: #000;
                }
            }

            &:hover {
                >span {
                    background-color: #009ffb;

                    &:after,
                    &:before {
                        background-color: #009ffb;
                    }
                }
            }
        }

        .gba-title {
            flex-grow: 1;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: .675rem;
        }
    }

    .gba-menu:not([hidden])+.gbaemu-container {
        top: 30px;
    }

    .gba-menu[hidden]+.gbaemu-container {
        top: 0px;
    }

    .gbaemu-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        .gbaemu-startinfo {
            position: absolute;
            z-index: 900;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1vh 5vw;
            overflow: hidden;
            overflow-y: auto;
            color: #fff;
            background: #000;

            >a {
                color: #0089ff;
            }

            >p {
                text-align: left;
            }

            >.welcome {
                >p {
                    text-align: center;
                }
            }

            li {
                margin-bottom: 15px;
            }

            button {
                background-color: #009ffb;
                border-radius: 5px;
                border: 1px solid #74716a;
                color: #fff;
                margin-right: 5px;
            }

            .cheat_txt {

                width: 100%;
                min-height: 200px;
            }

            .g-keysetting {
                width: 100%;

                th,
                td {
                    width: 33%;

                    input {
                        width: 80px;
                    }
                }
            }
        }

        .gbaemu-main {
            text-align: center;
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 800;

            >canvas {
                margin: 0px auto !important;

                @media screen and (orientation: portrait) and (max-width:800px) {
                    width: 100%;
                }

                @media screen and (orientation: landscape) and (max-height:800px) {
                    height: 100%;
                    position: relative;

                    &.full {
                        width: 100%;
                    }
                }

                @media screen and (min-height:700px) and (min-width:700px) {
                    width: 100%;
                    max-height: 100%;
                    position: relative;
                }
            }

            >.user-controller {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                align-items: stretch;

                button:not([class~='key-left-null']) {
                    border: 1px solid #6e6161;
                    color: #fff;
                    background: #24242408;
                    outline: none;

                    &[data-key].active {
                        background-color: #ffffff45;
                        color: #ed0202;
                    }
                }

                .g-dp {
                    position: absolute;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: stretch;
                    flex-direction: row;
                    z-index: 802;
                }

                .g-menu {
                    position: absolute;
                    width: 60px;
                    height: 25px;
                    left: calc(50vw - 30px);
                    border-radius: 5px;
                    opacity: .2;
                    z-index: 810;

                    &.active {
                        opacity: 1;
                        background: #000;
                    }
                }

                .g-menulist {
                    position: absolute;
                    left: 5vw;
                    right: 5vw;
                    z-index: 811;
                    color: #fff;
                    background: #101010;
                    border-radius: 10px;
                    border: 1px solid #ab9c9c;
                    text-align: center;
                    padding: 20px;

                    >h3 {
                        margin: 0 auto 10px;
                        padding: 0px;
                    }

                    .gba-fps-input {
                        width: 80%;
                    }

                    >ul {
                        display: flex;
                        justify-content: space-around;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        list-style: none;
                        margin: 0 auto;
                        padding: 0;
                        width: 80%;

                        >li {
                            margin: 8px;

                            >button {
                                font-size: 1rem;
                                font-weight: normal;
                                height: unset;
                                background: linear-gradient(180deg, #0089ff, #009ffb, #100e89);
                                border: 1px solid #798295;
                                border-radius: 5px;
                                &.active {
                                    background: linear-gradient(180deg, #0089ff, #cd150c, #100e89);
                                    border: 1px solid #ff0505;
                                }
                            }
                        }
                    }
                }

                .g-left,
                .g-right {
                    position: relative;
                    width: 50%;
                    flex-grow: 1;

                    >button:not([class~='g-menu']) {
                        position: absolute;
                        z-index: 802;
                    }

                    .g-dp {
                        button:not([class~='key-left-null']) {
                            line-height: 1.5;
                            width: calc(33% - 4px);
                            height: calc(33% - 4px);
                        }
                    }
                }

                .g-left {
                    .g-dp {
                        >button {
                            position: relative;
                            text-align: center;
                            margin: 1px;
                            padding: 0px;
                            border-radius: 5px;

                            &.key-left-null:first-child {
                                margin-right: 10%;
                                margin-bottom: 10%;
                            }

                            &[data-key="up"]+.key-left-null {
                                margin-left: 10%;
                                margin-bottom: 10%;
                            }

                            &[data-key="right"]+.key-left-null {
                                margin-top: 10%;
                                margin-right: 10%;
                            }

                            &[data-key="left"]+.key-left-null {
                                margin: 5%;
                            }

                            &[data-key="down"]+.key-left-null {
                                margin-left: 10%;
                                margin-top: 10%;
                            }
                        }

                        .key-left-null {
                            width: calc(23% - 2px);
                            height: calc(23% - 2px);
                            border: none;
                            background: transparent;
                        }
                    }
                }

                .g-right {
                    .g-dp {

                        button {
                            border-radius: 50%;

                            &:active,
                            &:hover,
                            &:focus {
                                border-radius: 50%;
                            }
                        }
                    }

                }

                @media screen and (orientation: portrait) and (max-width:600px) {
                    position: relative;
                    height: min(100vw, 400px);

                    .g-dp {
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        left: calc((100% - min(50vw, 180px))/2);
                        width: min(50vw, 180px);
                        height: min(50vw, 180px);

                        .key-right-x {
                            margin: 0px 33%;
                        }

                        .key-right-a {
                            margin: 15% 10% 0px 56%;
                        }

                        .key-right-b {
                            margin: 0% 46% 15% 20%;
                        }

                        .key-right-y~.key-right-a {
                            margin: 0px 0px 0px 33%;
                        }

                        .key-right-y~.key-right-b {
                            margin: 0px 33%;
                        }
                    }

                    .key-l {
                        left: 1vw;
                        top: 1vw;
                        width: 20vw;
                        border-radius: 5px;
                    }

                    .key-r {
                        right: 1vw;
                        top: 1vw;
                        width: 20vw;
                        border-radius: 5px;
                    }

                    .key-start {
                        left: 1vw;
                        bottom: 1vw;
                        width: 20vw;
                        border-radius: 5px;
                    }

                    .key-select {
                        right: 1vw;
                        bottom: 1vw;
                        width: 20vw;
                        border-radius: 5px;
                    }

                    .g-menu {
                        top: 1vw;
                    }

                    .g-menulist {
                        top: calc(1vw + 50px);
                    }
                }

                @media screen and (orientation: portrait) and (min-width:601px) {
                    position: static;
                    .g-left,.g-right{
                        display: none;
                    }
                    .g-menulist{
                        top: calc(50vh - 100px);
                    }
                }
                @media screen and (orientation: landscape) and (max-height:600px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: min(15vh, 40px);
                    right: 0;
                    z-index: 801;

                    .g-dp {
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        left: 2vh;
                        width: min(50vh, 180px);
                        height: min(50vh, 180px);

                        .key-right-x {
                            margin: 0px 33%;
                        }

                        .key-right-y {
                            margin-left: 15% 10% 0px 56%;
                        }

                        .key-right-a {
                            margin: 15% 10% 0px 56%;
                        }

                        .key-right-b {
                            margin: 0% 46% 15% 20%;
                        }

                        .key-right-y~.key-right-a {
                            margin: 0px 0px 0px 33%;
                        }

                        .key-right-y~.key-right-b {
                            margin: 0px 33%;
                        }

                        @media screen and (max-width:670px) {

                            .key-right-x,
                            .key-right-y,
                            .key-right-a,
                            .key-right-b {
                                border-radius: 50%;
                                width: 25%;
                                height: 25%;
                            }

                            .key-right-x {
                                margin: 0px 0px 0px 66%;
                            }

                            .key-right-y {
                                margin-left: 33%;
                            }

                            .key-right-y~.key-right-a {
                                margin: 0px 0px 0px 8%;
                            }

                            .key-left-null,
                            .key-left-left,
                            .key-left-up,
                            .key-left-down,
                            .key-left-right {
                                width: 25%;
                                height: 25%;
                            }
                        }
                    }

                    .g-right {
                        .g-dp {
                            left: unset;
                            right: 2vh;
                        }
                    }

                    .key-l {
                        left: 1vh;
                        top: 4vh;
                        width: 20vh;
                        border-radius: 5px;
                    }

                    .key-r {
                        right: 1vh;
                        top: 4vh;
                        width: 20vh;
                        border-radius: 5px;
                    }

                    .key-start {
                        right: 10vh;
                        bottom: 1vh;
                        width: 20vh;
                        border-radius: 5px;
                    }

                    .key-select {
                        left: 10vh;
                        bottom: 1vh;
                        width: 20vh;
                        border-radius: 5px;
                    }

                    .g-menu {
                        top: 4vh;
                    }

                    .g-menulist {
                        top: calc(4vh + 50px);
                    }
                }

                @media screen and (orientation: landscape) and (min-height:601px) {
                    position: static;
                    .g-left,.g-right{
                        display: none;
                    }
                    .g-menulist{
                        top: calc(50vh - 100px);
                    }
                }
            }
        }

        .g-showtxt {
            position: absolute;
            z-index: 901;
            top: calc(50vh - 200px);
            left: 10vw;
            right: 10vw;
            background-color: #3db4ed;
            color: #fff;
            border: 1px solid #042238;
            border-radius: 10px;
            box-shadow: 2px 2px 5px #0097ef;
            padding: 20px;

            &:not([class~='active']) {
                display: none;
            }
        }

    }

}